<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Строитель_и_Филосов.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Строитель_и_Филосов.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedWord" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedCategory" serializeAs="String">
                <value />
            </setting>
            <setting name="countOfSteps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="prevWord" serializeAs="String">
                <value />
            </setting>
            <setting name="leaders" serializeAs="String">
                <value />
            </setting>
        </Строитель_и_Филосов.Properties.Settings>
    </userSettings>
</configuration>